
<table class="table table-bordered" style="color:white">
    <thead>
        <tr>
            <th colspan="3" class="text-center">
                Shopping cart
            </th>
        </tr>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% if request.session.cart.items %}
            {% for key, value in request.session.cart.items %}
            <tr class="text-center">
                <td>{{value.name}}</td>
                <td>{{value.quantity}}</td>
                <td>
                    <a href="{% url 'cart:add' value.product_id %}" class="btn btn-sm btn-success">+</a>
                    <a href="{% url 'cart:decrease' value.product_id %}" class="btn btn-sm btn-success">-</a>
                    {{value.price}} $
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">
                    <div class="alert alert-danger text-center">
                        No products
                    </div>
                </td>
            </tr>
        {% endif %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                Total: {{cart_total_amount}}
            </td>
        </tr>
    </tfoot>
</table>